body {
    font-family: 'Roboto', sans-serif; /* Modern font */
    background-color: #1a1a1a; /* Dark color for techy look */
    color: #f0f8ff; /* Light text color for contrast */
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333; /* Tab background */
    position: fixed; /* Fix the tabs at the top */
    width: 100%;
}

li {
    float: left; /* Horizontally place the tabs */
}

li a {
    display: block;
    color: #f0f8ff; /* Light link color for contrast */
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111; /* Change color on hover */
}

